.bloco-1 {
    background-color: lightcoral;
    height: 145px;
    width: 145px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;

}
.bloco-2 {
    background-color: blue;
    height: 145px;
    width: 145px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    
}
.bloco-3 {
    background-color: rgb(128, 240, 212);
    height: 145px;
    width: 145px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    
}
.container {
display: flex;
flex-direction: row;


/*indiferente */
background-color: rgb(13, 14, 11);
padding: 14px;
height: 480px;

}
.container-row {
    display: flex;
    flex-direction: row;
    
    
    /*indiferente */
    background-color: rgb(150, 123, 48);
    padding: 14px;
    height: 480px;
    
    }
.container-column {
        display: flex;
        flex-direction: column;
        
        
        /*indiferente */
        background-color: rgb(126, 79, 110);
        padding: 14px;
        height: 480px;
        
        }
        .container-column-reverse {
            display: flex;
            flex-direction: column-reverse;
            
            
            /*indiferente */
            background-color: rgb(154, 177, 108);
            padding: 14px;
            height: 480px;
            
            }